body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    color: #7C7877;
}

.calculator {
    margin-top: 100px;
    padding: 30px;
    width: 500px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.calculator-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 30px;
}

.calculator-button {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(25%);


    padding: 15px 10px;

    font-size: 20px;
    font-weight: bold;

    background: white;
    border-color: #f0f0f0;

    transition: background .2s;
}

.calculator-button:hover {
    background: #9DCE5C;
}

.calculator-button:focus {
    outline: 0;
}

.calculator-button--disabled {
    pointer-events: none;
    color: #dedede;
}

.output {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    word-break: break-all;
    padding-bottom: 30px;
    border-bottom: 1px solid #9DCE5C;
}

.output-history {
}

.output-result {
    font-size: 30px;
    margin-bottom: 15px;
}
